[Unit]
Description=MQTT for the Logitech Media Server
After=multi-user.target

[Service]
WorkingDirectory=/home/<user>/
User=<user>
ExecStart=/usr/bin/python3 /home/<user>/<path-to-lms2mqtt>/lms2mqtt.py
Type=simple

[Install]
WantedBy=multi-user.target
